video {
  width: 100%;
}

/*knap*/
.second .button,
.fifth .button {
  border: 0;
  background-color: #0b1f8c;
  padding-inline: 1.5rem;
  padding-block: 0.3rem;
  margin-bottom: 1rem;
  place-self: center;
}
.second .button a,
.fifth .button a {
  color: #f2eadf;
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
}
.second .button:hover,
.fifth .button:hover {
  background-color: #f05f1a;
  scale: 95%;
}

@media (min-width: 600px) {
  .second {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
  .second p {
    grid-column: 1/4;
  }
  .second video {
    grid-column: 4/7;
  }
  .second .button {
    grid-row: 2/3;
    grid-column: 3/5;
  }

  .third {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .third .text1 {
    grid-column: 2/4;
  }
  .third .text2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .fourth {
    display: grid;
    gap: 1rem;
  }
  .fourth .img1 {
    object-fit: cover;
    grid-row: 1/3;
  }
  .fourth p {
    grid-column: 2/3;
  }
  .fourth .img2 {
    grid-column: 2/3;
  }

  .fifth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .fifth img {
    grid-column: 1/3;
  }
  .fifth .button {
    height: 45px;
    max-width: 200px;
  }
}
